      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"routerLink = "/"  routerLinkActive = "active" ><span class="red">Compo</span><span class="green">nent</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" routerLink = "/elements"  routerLinkActive = "active">Element </a>
            <a class="nav-item nav-link" routerLink = "/collections" routerLinkActive = "active">Collections</a>
            <a class="nav-item nav-link" href="#" routerLink = "/views"  routerLinkActive = "active">Views</a>
            <a class="nav-item nav-link " href="#" routerLink = "/mods"  routerLinkActive = "active">Module</a>
          </div>
        </div>
      </nav>
      <div class="container"> 
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
    
      </div>      
