.placeholder-header {
    display: flex;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.placeholder-image img {
    width: 10vw;
    height: 20vh;
}
.header-content {
    padding: 2rem;
 }
.placeholder-content {
   width: 600px;
   padding: 1rem;
}