<div class="placeholder">
    <div class="placeholder-header">
        <div class="placeholder-image"><img src="../../../assets/image/placeholder.png"/></div>
        <div class="header-content">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, quibusdam.</span>
        </div>
    </div>
    <div class="placeholder-content ">
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic reiciendis aperiam esse. A deleniti nemo nisi cupiditate natus impedit, ratione tempora? Nesciunt voluptates reiciendis dicta, similique alias sint optio a delectus debitis eaque! Ex, temporibus non? Earum, cumque magnam? Sapiente excepturi corporis qui neque amet a, aperiam adipisci quia optio!
        </span>
    </div>
</div>